.storyrow {
    margin: 6px;
}

.descendantsrow {
    text-shadow: none;
    color: @theme_selected_fg_color;
    background-color: mix(@theme_selected_bg_color, @theme_selected_fg_color, 0.3);
    font-size: smaller;
    border-radius: 4px;
    padding: 0px 4px;
}

.dotgreen {
  background-color: #3CC30F;
  border-radius: 50%;
}

.dotyellow {
  background-color: #FFBE00;
  border-radius: 50%;
}

.comment {
  color: @orange_2;
}

.author {
  color: @accent_color;
}

.commentline {
  border-left: 2px solid @orange_2;
}
